body{
    background-color: grey;
  }
  
  h1
  {
    margin: 30px auto;
    text-align: center;
    font-size: 5.2rem;
    color: #4ECCA3;
    font-family: 'Lobster', cursive;
  }
  
  .container
  {
    display: flex;
    justify-content: center;
    margin: 0 10px;
    font-family: 'Indie Flower', cursive;
    color: #4ECCA3;
  }
  
  .player-1
  {
    text-align: center;
    height: 400px;
    width: 300px;
    
  
  }
  .player-2
  {
    text-align: center;
    height: 400px;
    width: 300px;
    
  }
  